
*.xcworkspacedata

*.xcworkspacedata

PyServer/.idea/.name

PyServer/.idea/deployment.xml

PyServer/.idea/misc.xml

PyServer/.idea/modules.xml

PyServer/.idea/PyServer.iml

PyServer/.idea/vcs.xml

PyServer/.idea/workspace.xml
